@keyframes chevron-bounce {
	0% {
		opacity: 0.3;
		transform: translateY(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
		transform: translateY(10px);
	}
}

.bouncing-chevrons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: -8px;
}

.chevron {
	color: #313236;
	animation: chevron-bounce 2s ease-in-out infinite;
	margin-top: -8px;
}

.chevron:nth-child(2) {
	animation-delay: 0.2s;
}

.chevron:nth-child(3) {
	animation-delay: 0.4s;
}
